.frame {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header" "content";
}

.content {
    grid-area: content;
    padding: 1rem;
}

.Menu {
    grid-area: menu;
    background-color: #EEE;
    padding: 1rem;
}

.header {
    grid-area: header;
    background-color: #222;
    color: #FFF;
}

.Footer {
    grid-area: footer;
    padding: 1rem;
    background-color: #222;
    color: #FFF;
}

